.container{
    background-color: grey;
    height: 800px;
    width: 600px;
    margin: auto;

}
.card{
    height: 600px;
    width:400px;
    background-color: yellow;
    margin: 100px;
}

.upper{
    background-color: black;
    height: 300px;
}
.goat{
    background-color:brown;
    height: 300px;
    padding: 10px;
}
.upper img{
    height: 200px;
    width: 200px;
    margin-left:100px;
    margin-top: 50px;
    border-radius: 70%;
    border: 4px;
    box-shadow: 1px 1px 5px grey;
    bottom: 55%;
    display:block;
    left: 35%;
    position: absolute;
}
.heading{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.heading2{
    position: inherit;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #4e6e4b;

}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
    font-size: 14px;
}
button{
    background-color: #15700d;
    border:0px;
    color: white;
    width: 200px;
    padding: 10px 60px;
    margin-left: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 15px;
}